<h2>
    {{#str}} question_lists, capquiz {{/str}}
</h2>
<h4>Select one of these templates for your quiz</h4>
{{^lists}}
    No templates have been created.
{{/lists}}
<ol class="capquiz-list capquiz-question-list">
    {{#lists}}
        <li>
            <div>
                <a href="{{{ url }}}">{{#pix}} t/check, core, {{#str}} select, capquiz {{/str}} {{/pix}}</a>
            </div>
            <div>
                <h4>{{ title }}</h4>
                <p>{{ description }}</p>
            </div>
        </li>
    {{/lists}}
</ol>
<hr>
<h4>You can also create your own</h4>
{{{create}}}
