<h2>{{#str}} classlist, capquiz {{/str}}</h2>
<table class="capquiz-tree">
    <tr>
        <th>#</th>
        <th>{{#str}} id, capquiz {{/str}}</th>
        <th>{{#str}} username, capquiz {{/str}}</th>
        <th>{{#str}} firstname, capquiz {{/str}}</th>
        <th>{{#str}} lastname, capquiz {{/str}}</th>
        <th>{{#str}} rating, capquiz {{/str}}</th>
        <th>{{#str}} stars, capquiz {{/str}}</th>
    </tr>
    {{^users}}
        <p>{{#str}} no_enrolled_students, capquiz {{/str}}</p>
    {{/users}}
    {{#users}}
        <tr>
            {{#.}}
                <td>{{ index }}</td>
                <td>{{ student_id }}</td>
                <td>{{ username }}</td>
                <td>{{ firstname }}</td>
                <td>{{ lastname }}</td>
                <td>{{ rating }}</td>
                <td>{{ stars }}</td>
            {{/.}}
        </tr>
    {{/users}}
</table>