{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_capquiz/classlist

    Example context (json):
    {
        "users": [
            {
                "username": "user1",
                "firstname": "First",
                "lastname": "Last",
                "rating": 1653.6,
                "stars": 4,
                "gradedstars": 3,
                "passinggrade": true
            }
        ],
        "regrade": {
            "method": "post",
            "id": "capquiz_regrade_button",
            "type": "primary",
            "url": "/mod/capquiz/edit.php?id=1&action=regradeall",
            "label": "Regrade all",
            "disabled": false
        }
    }
}}
<h2>{{#str}}classlist, capquiz{{/str}}</h2>
<p>{{#str}}enrolled_students, capquiz{{/str}}: {{usercount}}</p>
<table class="generaltable table-sm">
    <thead>
    <tr>
        <th>{{#str}}username{{/str}}</th>
        <th>{{#str}}firstname{{/str}}</th>
        <th>{{#str}}lastname{{/str}}</th>
        <th>{{#str}}rating, capquiz{{/str}}</th>
        <th>{{#str}}stars, capquiz{{/str}}</th>
        <th>{{#str}}graded_stars, capquiz{{/str}}</th>
        <th>{{#str}}pass_or_fail, capquiz{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td>{{username}}</td>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{rating}}</td>
            <td>{{stars}}</td>
            <td>{{gradedstars}}</td>
            <td>
                {{#passinggrade}}{{#str}}grade_pass, capquiz{{/str}}{{/passinggrade}}
                {{^passinggrade}}{{#str}}grade_fail, capquiz{{/str}}{{/passinggrade}}
            </td>
        </tr>
    {{/users}}
    </tbody>
</table>
{{^users}}
    <p>{{#str}}no_enrolled_students, capquiz{{/str}}</p>
{{/users}}
{{#regrade}}
    {{>core/single_button}}
{{/regrade}}
