<h4>{{#str}} template, capquiz {{/str}}</h4>
{{#str}}template_explanation, capquiz {{/str}}
{{#crate_template}}
    {{>core/single_button}}
{{/crate_template}}
</br>
{{#message}}
    {{{message}}}
{{/message}}