<h2>
    Instructor dashboard
</h2>
<div>
    <a href="{{{ view_question_list_url }}}">{{#str}} view_question_list, capquiz {{/str}}</a>
</div>
<div>
    <a href="{{{ view_leaderboard_url }}}">{{#str}} view_leaderboard, capquiz {{/str}}</a>
</div>
<div>
    <a href="{{{ view_configuration_url }}}">{{#str}} view_configuration, capquiz {{/str}}</a>
</div>
{{#publish}}
    {{>core/single_button}}
{{/publish}}