<h2>{{#str}} dashboard, capquiz {{/str}}</h2>
<div>
    <table class="capquiz-table">
        <tr>
            <td>
                {{#str}} status, capquiz {{/str}}:
            </td>
            <td>
                {{{published_status}}}
            </td>
        </tr>
        <tr>
            <td>
                {{#str}} question_list, capquiz {{/str}}:
            </td>
            <td>
                {{{question_list_title}}}
            </td>
        </tr>
        <tr>
            <td>
                {{#str}} question_count, capquiz {{/str}}:
            </td>
            <td>
                {{{question_count}}}
            </td>
        </tr>
        <tr>
            <td>
                {{#str}} enrolled_students, capquiz {{/str}}:
            </td>
            <td>
                {{{enrolled_student_count}}}
            </td>
        </tr>
    </table>
</div>
</br>