<h2>Enrolled students</h2>
{{^users}}
    No students are enrolled.
{{/users}}
{{#users}}
    <table class="capquiz-tree">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Rating</th>
            <th>Stars</th>
        </tr>
        {{#users}}
            <tr>
                {{#.}}
                    <td>{{ index }}</td>
                    <td>{{ student_id }}</td>
                    <td>{{ username }}</td>
                    <td>{{ firstname }}</td>
                    <td>{{ lastname }}</td>
                    <td>{{ rating }}</td>
                    <td>{{ stars }}</td>
                {{/.}}
            </tr>
        {{/users}}
    </table>
{{/users}}