<h2>Enrolled students</h2>
{{^users}}
    No students are enrolled.
{{/users}}
{{#users}}
    <table class="capquiz-tree-widget">
        <tr class="capquiz-tree-header">
            <th>#</th>
            <th>Student</th>
            <th>Rating</th>
        </tr>
        {{#users}}
            <tr>
                {{#.}}
                    <td>{{ num }}</td>
                    <td>{{ student }}</td>
                    <td>{{ rating }}</td>
                {{/.}}
            </tr>
        {{/users}}
    </table>
{{/users}}
{{#publish}}
    {{>core/single_button}}
{{/publish}}
