{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_capquiz/question_list

    Example context (json):
    {
        "questions": [
            {
                "index": 1,
                "name": "First question",
                "rating": 500.0,
                "question_id": 56,
                "rating_url": "#",
                "button": {
                    "id": "id",
                    "primary": true,
                    "method": "post",
                    "url": "#",
                    "label": "Remove"
                }
            }
        ],
        "message": "Message for the user"
    }
}}
<h2>{{#str}}question_list, capquiz{{/str}}</h2>

{{#str}} default_question_rating, capquiz {{/str}}:
<form method="post" class="capquiz-default-question-rating" name="default_question_rating">
    <input type="number" name="rating" value="{{ default_rating }}">
    {{#pix}} t/check, core {{/pix}}
</form>

<hr class="capquiz-reduced-width">

{{#message}}
    {{{message}}}
{{/message}}

<table class="capquiz-tree">
    <tr>
        <th>#</th>
        <th class="capquiz-sortable">{{#str}}title, capquiz{{/str}}</th>
        <th class="capquiz-sortable">{{#str}}rating, capquiz{{/str}}</th>
        <th colspan="3">{{#str}}action, capquiz{{/str}}</th>
    </tr>
    {{#questions}}
        <tr>
            {{#.}}
                <td>{{ index }}</td>
                <td>{{{ name }}}</td>
                <td>
                    <form method="post" class="capquiz-question-rating" name="question_rating_form" action="{{ rating_url }}">
                        <input class="capquiz-sortable-item" type="number" name="rating" value="{{ rating }}" data-question-id="{{ question_id }}">
                        {{#pix}} t/check, core {{/pix}}
                    </form>
                </td>
                <td class="capquiz-question-rating-submit-wrapper">
                    {{#delete}}
                        {{>core/action_link}}
                    {{/delete}}
                </td>
                <td>
                    {{#edit}}
                        {{>core/action_link}}
                    {{/edit}}
                </td>
                <td>
                    {{#preview}}
                        {{>core/action_link}}
                    {{/preview}}
                </td>
            {{/.}}
        </tr>
    {{/questions}}
</table>

{{^questions}}
    {{#str}}no_questions_added_to_list, capquiz{{/str}}
{{/questions}}
