<h2>Question list</h2>
<table class="capquiz-tree">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Action</th>
    </tr>
    {{^questions}}
        No questions added to the list.
    {{/questions}}

    <p>Update ratings by modifying the specified value and press <em>enter</em></p>
    {{#questions}}
        <tr>
            {{#.}}
                <td>{{ index }}</td>
                <td>{{ name }}</td>
                <td>
                    <form method="post"
                          name="question_rating_form"
                          action="{{ rating_url }}"
                    >
                        <input type="number" name="rating" value="{{ rating }}">
                    </form>
                </td>
                <td>
                    {{#button}}
                        {{>core/single_button}}
                    {{/button}}
                </td>
            {{/.}}
        </tr>
    {{/questions}}
</table>