{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_capquiz/question_list_selection

    Example context (json):
    {
        "lists": [
            {
                "title": "My question list",
                "description": "These are my questions",
                "author": "username",
                "created": "2019-01-16 16:04:20",
                "url": "#"
            }
        ],
        "create": "raw html for a button to create the question list"
    }
}}
<h2>
    {{#str}} question_lists, capquiz {{/str}}
</h2>
<h4>{{#str}}select_template, capquiz{{/str}}</h4>
{{^lists}}
    {{#str}}no_templates_created, capquiz{{/str}}
{{/lists}}
<ol class="capquiz-list capquiz-question-list">
    {{#lists}}
        <li>
            <div>
                <a href="{{{ url }}}">{{#pix}} t/check, core, {{#str}} select, capquiz {{/str}} {{/pix}}</a>
            </div>
            <div>
                <h4>{{ title }}</h4>
                <p>{{ description }}</p>
                {{#str}}author, capquiz{{/str}}: {{author}}
                <br>
                {{#str}}created, capquiz{{/str}}: {{created}}
            </div>
        </li>
    {{/lists}}
</ol>
<hr>
<h4>{{#str}}create_own_template, capquiz{{/str}}</h4>
{{{create}}}
