<h2>
    {{#str}} question_lists, capquiz {{/str}}
</h2>
{{^sets}}
    No question sets have been created.
{{/sets}}
<ol class="capquiz-list capquiz-question-list">
    {{#sets}}
        <li>
            <div>
                <a href="{{{ url }}}">{{#pix}} t/check, core, {{#str}} select, capquiz {{/str}} {{/pix}}</a>
            </div>
            <div>
                <h4>{{ title }}</h4>
                <p>{{ description }}</p>
            </div>
        </li>
    {{/sets}}
</ol>
{{#create}}
    <div>
        {{>core/single_button}}
    </div>
{{/create}}
