<h2>
    {{#str}} question_lists, capquiz {{/str}}
</h2>
<h4>{{#str}}select_template, capquiz{{/str}}</h4>
{{^lists}}
    {{#str}}no_templates_created, capquiz{{/str}}
{{/lists}}
<ol class="capquiz-list capquiz-question-list">
    {{#lists}}
        <li>
            <div>
                <a href="{{{ url }}}">{{#pix}} t/check, core, {{#str}} select, capquiz {{/str}} {{/pix}}</a>
            </div>
            <div>
                <h4>{{ title }}</h4>
                <p>{{ description }}</p>
                {{#str}}author, capquiz{{/str}}: {{author}} </br>{{#str}}created, capquiz{{/str}}: {{created}}
            </div>
        </li>
    {{/lists}}
</ol>
<hr>
<h4>{{#str}}create_own_template, capquiz{{/str}}</h4>
{{{create}}}
