{{#question}}
    <div>
        {{#question}}
                Question ID: {{{id}}}
                Question rating: {{{rating}}}
        {{/question}}
        {{#student}}
                Your rating: {{{rating}}}
        {{/student}}
    </div>
    {{#attempt}}
        <form class="capquiz-response-form" method="post" action="{{{ url }}}" enctype="multipart/form-data"
              accept-charset="utf-8">
            <div>
                <input type="hidden" name="slots" value="{{ slots }}">
                <input type="hidden" name="scrollpos" value="">
                {{{ body }}}
            </div>
        </form>
    {{/attempt}}
{{/question}}