{{#progress}}
    <div class="capquiz-quiz-top">
        {{#student}}
            <div class="capquiz-quiz-stars">
                {{#stars}}
                    {{#.}}
                        {{#pix}} star, capquiz {{/pix}}
                    {{/.}}
                    {{^.}}
                        {{#pix}} blank-star, capquiz {{/pix}}
                    {{/.}}
                {{/stars}}
            </div>
            <div class="capquiz-quiz-progress">
                <div class="{{progressclass}}" style="width:{{ abspercent }}%">
                    {{ percent }}%
                </div>
            </div>
        {{/student}}
    </div>
{{/progress}}
