{{#metainfo}}
    {{#question}}
        Question ID: {{ id }}</br>
        Question rating: {{ rating }}</br>
    {{/question}}
    {{#student}}
        Your rating: {{ rating }}
    {{/student}}
{{/metainfo}}