{{#metainfo}}
    {{#question}}
        {{#str}}questionid, capqiuiz{{/str}}: {{ id }}</br>
        {{#str}}questionrating, capqiuiz{{/str}}: {{ rating }}</br>
    {{/question}}
    {{#student}}
        {{#str}}yourrating, capqiuiz{{/str}}: {{ rating }}
    {{/student}}
{{/metainfo}}