{{#progress}}
    <div class="capquiz-quiz-top">
        {{#student}}
            <div class="capquiz-quiz-stars">
                {{#stars}}
                    {{#.}}
                        {{#pix}} star, capquiz {{/pix}}
                    {{/.}}
                    {{^.}}
                        {{#pix}} blank-star, capquiz {{/pix}}
                    {{/.}}
                {{/stars}}
            </div>
            <div class="capquiz-quiz-progress">
                {{#up}}
                  <div class="capquiz-quiz-progress-fill"
                     style="width:{{ percent }}%">
                      <div class="capquiz-quiz-progress-percent">
                    {{ percent }}%
                      </div>
                  </div>
                {{/up}}
                {{#down}}
                  <div class="capquiz-quiz-progress-unfill"
                     style="width:{{ percent }}%">
                      <div class="capquiz-quiz-progress-percent">
                          -{{ percent }}%
                      </div>
                  </div>
                {{/down}}
            </div>
        {{/student}}
    </div>
{{/progress}}
